data/
Data/
datasets/
results/
__pycache__/
.DS_Store
*.png
*.csv
*.eps
BioVid/datasets/
BioVid/results/
Results/
HAR/data/
HAR/results/
Opportunity/Data/
Deap/unnecessary/
picture/
Deap/Data/
preprocessed_pain_data_for_GAN_Design/
